
                <!--client data area start-->
                
                        <div class="row" id ="client_data_area">
                            <div class="container-sm">
                                <input class="form-control border-1" type="text" placeholder="Search in table..." id="searchField1">
                                <div id="ts1" class="table-sortable1 table-responsive-sm">
                                </div>
                            </div>
                     
                            <!-- The Modal -->
                            <div class="modal" id="myModal">
                                <div class="modal-dialog modal-md modal-dialog-scrollable">
                                <div class="modal-content">
                    
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                    <h4 class="modal-title"><b class="text-center">Client Details</b></h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                    
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                    <div  id="det"></div>
                                    </div>
                    
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                                    
                                    </div>
                    
                                </div>
                                </div>
                            </div>
                        </div>
                        <!--client data area end-->
                    
       