
                <!--client data area start-->
                
                        <div id ="client_data_area">
                            <div class="container">
                                <table class="table text-start align-middle table-bordered table-hover mb-0">
                                    <thead class="table-light">
                                        <th scope="col">Client_Id</th>
                                        <th scope="col">Client Name</th>
                                        <th scope="col">Mobile No.</th>
                                        <th scope="col">Email</th>
                                    </thead>
                                    <tbody id="mytab">
                                
                                    </tbody>
                                </table>
                            </div>
                    
                            <!-- The Modal -->
                            <div class="modal" id="myModal">
                                <div class="modal-dialog modal-lg modal-dialog-scrollable">
                                <div class="modal-content">
                    
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                    <h4 class="modal-title">Client Details</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                    
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                    <table class="table table-responsive" id="det"></table>
                                    </div>
                    
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                    
                                    </div>
                    
                                </div>
                                </div>
                            </div>
                        </div>
                        <!--client data area end-->
                    
       